.main{
    height: 65vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    font-family: 'Lucida Sans';
}
.main-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.main-left h2{
    color: black;
    font-size: 30px;
    font-weight: 600;
    
}
.main-left p{
    color: black;
    font-size: 70px;
    font-weight: 500;
    font-family: 'Lucida Sans';
}
.hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hand-icon p{
    color: black;
    font-size: 70px;
    font-weight: 500;
}
.hand-icon img{
    width: 105px;
}
.main-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 70px;
    border-radius: 75px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding-left: 15px;
    margin-left: 180px;
    cursor: pointer;
}
.main-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}