.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    
}
.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    font-weight: bolder;
    border-radius: 10px;
    background-color: #252525;
}
.new-collections-item{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    
    
}