.item{
    width: 220px;
    
}
.item img{
    width: 220px;
    height: 220px;
    border-radius: 20px;
}
.item p{
    margin: 6px 0px;
    font-size: 20px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #ee4a4a;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}