.productdisplay{
    display: flex;
    margin: 0px 100px;
}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-image{
    width: 500px;
    height: 500px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3e3e3e;
    font-size:  20px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #3e3e3e;
    font-size: 16px;
}
.productdisplay-right-star p{ 
    color: #3e3e3e;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;

}
.productdisplay-right-price-new{
    color: #ff4141;  
}
.productdisplay-right-color h1{
    margin-top: 40px;
    color: #3e3e3e;
    font-size: 30px;
}
.productdisplay-right-color button{
    margin: 15px;
    background-color: #ff4141;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    border: none;
    cursor: pointer;
}
.productdisplay-right-addtocart button{
    height: 50px;
    width: 150px;
    background-color: #818181;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer; 
    margin-bottom: 20px;   
}
.productdisplay-right-catagory{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: #3e3e3e;
}
.cart-btn:hover{
    background-color: #ff4141;
}