.loginsignup{
    width: 100%;
    height: 120vh;
    background: #fce3fe;
    padding-top: 100px;
    
}
.loginsignup-container{
    width: 500px;
    height: 550px;
    background: white;
    margin: auto;
    padding: 50px 60px;
    
}
.loginsignup-container h1{
    margin: 20px 0px;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button{
    height: 72px;
    width: 525px;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login{
   margin-top: 20px;
   color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 10px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}