 .catagory-banner{
    display: block;
    margin: 20px auto;
    width: 82%;
 }
.shopcatagory-indexSort{
    display: flex;
    margin: 30px 170px;
    justify-content: center;
    align-items: center;
}
.shopcatagory-sort{
    margin-left: 600px;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcatagory-indexSort p{
    font-size: 20px;
    font-weight: 300;
}
.shopcatagory-products{
    margin: 20px 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.shopcatagoryloadmore-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 180px;
    height: 60px;
    border-radius: 69px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    border: none;
}