.discriptionbox{
    margin: 120px 170px;
}
.discriptionbox-navigator{
    display: flex;
}
.discriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}
.discriptionbox-nav-box.fade{
    background: #fbfbfb;
    color: #555;
}
.discriptionbox-discription{
     display: flex;
     flex-wrap: wrap;
     gap: 25px;
     border: 1px solid #d0d0d0;
     padding: 48px;
     padding-bottom: 70px;
}
.discriptionbox-discription p{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
}