.footer_container{
    display: flex;
    justify-content: space-evenly;
    background-color: #f5f5f5;
   
}
.whatsapp{
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 10px;
}
.whatsapp img{
    height: 30px;
    width: 30px;
}
.svg:hover{
    transform: rotate(180deg);
}
.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_column a{
    color: #94969f;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.usman-logo{
    margin-top: 20px;
    margin-bottom: -20px;
    height: 80px;
    width: 80px;
    border-radius: 100px;
}
.footer_column h3{
    color: #8a8d9c;
    font-size: 15px;
    margin: 30px 0;
}
.copywrite{
    color: #94969f;
    text-align: center;
    padding: 15px 0;
    background-color: #f5f5f5;
}