
@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%); 
    }
}

.animate-marquee {
   
    width: fit-content; 
    animation: marquee 40s linear infinite;
    display: flex;
   
}